
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
background-color: #f0ffff;
}

header{
	width: 100%;
}

.navegacion{
	width: 1000px;
	margin: 20px auto;
	background: #c71585;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 10px 120px;
	color: #ffffff;
	font-family: 'monospace';
	text-decoration: none;
	
}

.menu li a:hover{
	color: #c0c0c0;
	transition: all .6s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 130%;
	visibility: hidden;
	font-family: 'monospace'
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'monospace';
	text-align: center;
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}



img{
 width: 400px;
	 height: 400px;
	   display: block;
	    margin: auto;
	    border-radius: 6px;
box-shadow: 0px 30px 40px
rgba(0,0,0,0.50);
top: 10;
transition: all 500ms ease-out;
opacity: 1;
visibility: visible;
background: rgba(12, 103, 123, 0.7);
cursor: pointer;

}

h1{
text-align: center;
background: #32cd32;
color: #ffffff;
width: 50% auto;
font-family: 'monospace';
font-weight: lighter;
}

h2{
color: #6495ed;
text-align: justify;
font-family: 'monospace'
 
}
h3{
	color: #6495ed;
text-align: center;
font-family: 'monospace';
font-size: 25px;
}

p{
font-size: 29px;
font-family: 'monospace'
text-align: center;
 margin-left: 20px; 
 margin-right: 20px;
 line-height: 40px;

}

